@import "tailwindcss";

body {
	@apply m-0;
	font-family:
		-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	text-align: center;
}

code {
	font-family:
		source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h2 {
	font-size: 25px;
	margin-bottom: 32px;
}

fieldset {
	text-align: left;
	max-width: 500px;
	margin: 0 auto;
}

input[type="radio"] {
	margin-right: 12px;
}

button {
	margin: 24px 30px;
	text-align: left;
	background: lightseagreen;
	padding: 12px 24px;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
